<img src="/images/logo.png">
<h1>Página de inicio del repositorio</h1>
<p>Este proyecto contiene código de ejemplo que se utiliza en varios posts del blog www.aprendegit.com para
ilustrar qué es un Fork y cómo se mantiene actualizado.
</p>

